* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0c3c59;
    color: white;
    line-height: 1.6;
    font-size: 16px;
}

.navbar {
    background-color: #092532;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.about-section {
    text-align: center;
    padding: 50px 20px;
}

.logo-image {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}
